@use "../abtract/variables" as bg_colors_size;
@use "../abtract/mixins" as layout;

.panel {
  position: fixed;
  top: 1.6rem;
  right: 1rem;
  width: 38%;
  @include layout.media() {
    width: 95%;
    top: 33rem;
    right: 0.6rem;
  }

  &__title {
    overflow: hidden;
    position: absolute;
    height: 1px;
    top: 0;
    width: 1px;
  }

  &__wrapper {
    display: none;
    @include layout.media() {
      height: 4rem;
      @include layout.flex($justify: flex-end, $gap: 0);
    }
  }

  &__open {
    width: 3rem;
    background-color: transparent;
    transform: rotate(0deg);
  }

  &__close {
    transform: rotate(180deg);
  }

  &__progress {
    background-color: bg_colors_size.$bg-soft-dark;
    border-radius: bg_colors_size.$rem-1;
    box-shadow: bg_colors_size.$shadow-off-white;
    position: absolute;
    width: 100%;
    @include layout.media() {
      background-color: rgba(190, 210, 222, 0.894);
      bottom: -21rem;
      left: 0;
      transition: transform 0.25s ease-in;
    }

    &--active {
      transform: translateY(-26rem);
      transition: transform 0.25s ease-in;
    }
  }
}
