@use "../abtract/mixins" as layout;
.header {
  width: 100%;
  position: relative;
  height: 5rem;
  @include layout.media() {
    height: 3.5rem;
  }

  &__title {
    left: 1000;
    top: 0;
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
  }
}
